<body ng-app="bmrApp">
  <div class="container">
    <div class="jumbotron" ng-controller="headerCtrl">
      <h1 class="main-header">{{header}}</h1>
      <span>by:</span><a href="http://www.petrusrex.com/" target="_blank"> {{Louise}}</a>
      <hr>
      <br>
      <form ng-controller="mainCtrl">
        <h3>Height(in):</h3><input ng-change="computeBMR()" ng-model="stats.heightUS"></input>
        <br>
        <br>
        <h3>Weight(lbs):</h3><input ng-change="computeBMR()" ng-model="stats.weightUS"></input>
        <br>
        <br>
        <h3>Age:</h3><input ng-change="computeBMR()" ng-model="stats.age"></input>
        <br>
        <br>
        <b>A Man Burns:</b>
        <br>
        <h3 class="result">{{stats.BmrMan}}</h3>
        <br>
        <b>A Woman Burns:</b>
        <br>
        <h3 class="result">{{stats.BmrWoman}}</h3>
      </form>
      </div>
    </div>
</body>